.Form-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.Form {
  position: relative;
}

.input-text {
  width: 493px;
  padding: 10px;
}

input[type=submit] {
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.3);
}

input[type=checkbox] {
  margin-left: -20px;
  margin-right: 8px;
}
